
body {
	background-color:#FFFFFF;
}
#maphotos {
width: 200px;
-webkit-border-radius: 50px;
border-radius: 50px;
}

.titr  {
	text-align: center; 
	color:#CCCCCC;
	font-style: italic;
	border-style: groove;
	background-color:#7133FF;
}

p {
    font-style: italic;
}

.infodetail {
text-align: right;
}
